<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sidebar</title>

	<link href="../css/bootstrap.min.css" rel="stylesheet" />

  <!-- sidebar A 
  <link href="../css/components/sidebarA.css" rel="stylesheet" />
  <link href="../css/pdsa-sidebar.css" rel="stylesheet" />
  <link href="../css/pdsa-summary-block.css" rel="stylesheet" />
  <link href="../css/pdsa-readme-box.css" rel="stylesheet" />
  end of sidebar A -->

  <!-- sidebar B 
  <link href="../css/components/sidebarB.css" rel="stylesheet" />
  end of sidebar B -->

	<!-- sidebar C --> 
  <link href="../css/components/sidebarC.css" rel="stylesheet" />
  <!-- end of sidebar C -->

</head>
<body>


	<!------------------------------------------------------------------------------------------------->
	<!------------------------------------  sidebar A   ------------------------------------------------>
	<!------------------------------------------------------------------------------------------------->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-md-offset-2"> <!-- style="height:400px;" -->
				<!-- sidebar A 
				
					* may need <body class="notransition"> 
					* notice that the parent element has height -- <div class="col-md-2 col-md-offset-2" style="height:400px;">

				
					<nav class="pdsa-sn-wrapper">
					  <ul id="sideNavParent">
						<li class="pdsa-sn-brand">
						  <a href="#" class="visible-sm visible-md visible-lg">Music</a>
						</li>
						<li>
						  <a href="#">
							<span class="visible-sm visible-md visible-lg">Home</span>
							<i class="glyphicon glyphicon-home visible-xs"></i>
						  </a>
						</li>
						<li>
						  <a href="#"
							 data-toggle="collapse"
							 data-target="#ulMaint">
							<span class="visible-sm visible-md visible-lg">
							  Genres&nbsp;<b class="caret"></b>
							</span>
							<i class="glyphicon glyphicon-globe visible-xs"></i>
						  </a>
						  <div class="visible-sm visible-md visible-lg">
							<ul id="ulMaint" class="collapse" data-parent="#sideNavParent">
							  <li>
								<a href="#">All Genres</a>
							  </li>
							  <li>
								<a href="#">Jazz</a>
							  </li>
							  <li>
								<a href="#">Country</a>
							  </li>
							  <li>
								<a href="#">Rock</a>
							  </li>
							</ul>
						  </div>
						</li>
						<li>
						  <a href="#"
							 data-toggle="collapse"
							 data-target="#ulLookup">
							<span class="visible-sm visible-md visible-lg">
							  Playlists&nbsp;<b class="caret"></b>
							</span>
							<i class="glyphicon glyphicon-list-alt visible-xs"></i>
						  </a>
						  <div class="visible-sm visible-md visible-lg">
							<ul id="ulLookup" class="collapse" data-parent="#sideNavParent">
							  <li>
								<a href="#">All Playlists</a>
							  </li>
							  <li>
								<a href="#">My Top Rated</a>
							  </li>
							  <li>
								<a href="#">Top Country</a>
							  </li>
							  <li>
								<a href="#">Top Classic Rock</a>
							  </li>
							</ul>
						  </div>
						</li>
						<li>
						  <a href="#">
							<span class="visible-sm visible-md visible-lg">Download</span>
							<i class="glyphicon glyphicon-download visible-xs"></i>
						  </a>
						</li>
					  </ul>
					</nav>
				 end of sidebar A -->
			</div>
		</div>
	</div>
	<!------------------------------------------------------------------------------------------------->
	<!------------------------------------  sidebar B   ------------------------------------------------>
	<!------------------------------------------------------------------------------------------------->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-md-offset-2 sidebar"><!-- style="height:500px;" -->
				<!-- sidebar B 
				
					* may need <body class="notransition"> 
					* notice that the parent element has height -- <div class="col-md-2 col-md-offset-2 sidebar" style="height:500px">

				  <ul class="nav nav-sidebar">
					<li><a href="#">Overview <span class="sr-only">(current)</span></a></li>
					<li><a href="#">Reports</a></li>
					<li class="active"><a href="#">Analytics</a></li>
					<li><a href="#">Export</a></li>
				  </ul>
				  <ul class="nav nav-sidebar">
					<li><a href="#">Nav item</a></li>
					<li><a href="#">Another nav item</a></li>
					<li><a href="#">More navigation</a></li>
				  </ul>
				  <ul class="nav nav-sidebar">
					<li><a href="#">Nav item again</a></li>
					<li><a href="#">One more nav</a></li>
					<li><a href="#">Another nav item</a></li>
				  </ul>

				-->
			</div>
		</div>
	</div>
	<!------------------------------------------------------------------------------------------------->
	<!------------------------------------  sidebar C   ------------------------------------------------>
	<!------------------------------------------------------------------------------------------------->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-md-offset-2 sidebar">
				<div class="list-group">
					<a href="#" class="list-group-item active">Link</a>
					<a href="#" class="list-group-item">Link</a>
					<a href="#" class="list-group-item">Link</a>
					<a href="#" class="list-group-item">Link</a>
					<a href="#" class="list-group-item">Link</a>
					<a href="#" class="list-group-item">Link</a>
				</div>
			</div>
		</div>
	</div>



	<script src="../js/common/jquery-1.11.0.min.js"></script>
	<script src="../js/common/bootstrap.min.js"></script>

	<!-- sidebar A 
	<script src="../js/3rd/pdsa-common.js"></script>
	 end of sidebar A -->

	<!-- sidebar B 
	<script src="../js/components/sidebarB.js"></script>
	 end of sidebar B -->

	<!-- sidebar C -->
	<script src="../js/components/sidebarC.js"></script>
	<!-- end of sidebar C -->
	
</body>
</html>

