@font-face {
    /* RaleWay Thin from - https://www.theleagueofmoveabletype.com, Font Squirrel for Web Font creation with "Adjust Glyph Spacing" -50 */
    font-family: 'ralewaythin';
    src: url('font/raleway_thin-webfont.eot');
    src: url('font/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'), url('font/raleway_thin-webfont.woff') format('woff'), url('font/raleway_thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

input[type="text"],select{
    /*width:200px;
    margin:10px;*/
}
.loader {
    background-image: url(../images/ajax-loader.gif);
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
